body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cabecera {
	text-align: center;
}

.formulario {
	text-indent: 40px;
	border: black 5px none;
}

@media (max-width: 767px){
.formulario{
    text-align: center;
	}
}

.return{
 text-align: center;
}