body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cabecera {
	text-align: center;
}

.formulario {
	text-indent: 40px;
}

@media (max-width: 767px){
body{
    text-align: center;
	}
}

.return {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}